.bakedBiscuit {
  animation-duration: 4s, 1s, 0s;
  animation-delay: 0s, 4s, 5s;
  animation-name: conveyor, drop, disappear;
  animation-fill-mode: forwards;
}

@keyframes conveyor {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 14%;
  }
}

@keyframes drop {
  from {
    margin-left: 14%;
    margin-top: 5%;
  }

  to {
    margin-left: 14%;
    margin-top: 11%;
  }
}

@keyframes disappear {
  from {
    margin-left: 14%;
    margin-top: 5%;
  }

  to {
    margin-left: 14%;
    margin-top: 5%;
    opacity: 0;
  }
}
