.animatedBakedBiscuit {
  animation-duration: 4s, 1s, 0s;
  animation-delay: 0s, 4s, 5s;
  animation-name: conveyorBakedBiscuit, dropBakedBiscuit, disappearBakedBiscuit;
  animation-fill-mode: forwards;
}

@keyframes conveyorBakedBiscuit {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 14%;
  }
}

@keyframes dropBakedBiscuit {
  from {
    margin-left: 14%;
    margin-top: 5%;
  }

  to {
    margin-left: 14%;
    margin-top: 11%;
  }
}

@keyframes disappearBakedBiscuit {
  from {
    margin-left: 14%;
    margin-top: 5%;
  }

  to {
    margin-left: 14%;
    margin-top: 5%;
    opacity: 0;
  }
}
