.biscuit {
  animation-duration: 5s, 0s;
  animation-delay: 0s, 5s;
  animation-name: conveyorBiscuit, disappearBiscuit;
  animation-fill-mode: forwards;
  margin: 0;
  margin-top: 65px;
  position: absolute;
  padding-left: 25px;
}

@keyframes conveyorBiscuit {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 25%;
  }
}

@keyframes disappearBiscuit {
  from {
    margin-left: 25%;
  }

  to {
    margin-left: 25%;
    opacity: 0;
  }
}
