.biscuit {
  animation-duration: 2s, 10s;
  animation-delay: 0s, 2s;
  animation-name: drop, conveyor;
}

@keyframes conveyor {
  from {
    margin-left: 0%;
    margin-top: 10%;
  }

  to {
    margin-left: 50%;
    margin-top: 10%;

  }
}

@keyframes drop {
  from {
    margin-top: 0%;
  }

  to {
    margin-top: 10%;
  }
}
